@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Rubik", sans-serif;
  --ff-secondary: "Ubuntu Mono", monospace;
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  line-height: 1.6;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.main {
  width: 100vw;
}

.navbar {
  margin: 0 5rem;
}

.navbar--menu-item {
  font-weight: bold;
  color: white;
  padding: 0;
  margin: 0;
}

.main-content {
  margin: 0 auto;
  max-width: 1100px;
}

.highlight-bar {
  /* margin: 1rem; */
  display: flex;
  justify-content: center;
  /* overflow-x: scroll; */
}

.highlight-bar--tag-content::after {
  color: #d9d9d9;
  padding: 0 8px;
  content: "|";
}

.article--section {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
}

.article--big-container {
  display: flex;
  flex-direction: column;
}

.article--big-button:last-child {
  align-self: flex-start;
}

.article--big-img-container {
  position: relative;
  display: flex;
}

.article--big-img-source {
  width: 100%;
  padding: 0;
  margin: 0;
}

.article--big-live-updates-tag {
  padding: 0.5rem;
  margin: 0;
  position: absolute;
  bottom: 0;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* .article--big-main-content {
  color: blue;
} */

.article--short-container {
  border-top: 2px solid #d9d9d9;
  margin: 0;
  padding: 0.5rem 0;
}

.article--short-content {
  text-align: left;
}

.article--short-content > span {
  font-weight: bold;
}
