*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 234, 226);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 3rem;
  height: 65px;
  border-bottom: 1px solid gray;
}

.navbar-logo {
  font-style: italic;
  font-weight: bold;
}

.navbar-list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.navbar-list-item {
  list-style: none;
}
