*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --nb-height: 65px;
}

body {
  background-color: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.6;
}

.main {
  position: relative;
}

/* NAVBAR */

.navbar {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 3rem;
  height: var(--nb-height);
  border-bottom: 1px solid gray;
  color: white;
  /* background-color: #121313; */
  background-color: rgba(18, 19, 19, 0.75);
}

.navbar-logo {
  font-style: italic;
  font-weight: bold;
  padding: 1rem;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.25rem;
  text-transform: uppercase;
  font-size: 0.5rem;
}

.navbar-list-item {
  cursor: pointer;
  list-style: none;
  padding: 0.4rem;
}

.navbar-list-item:hover {
  color: orange;
}

/* HERO */

.hero-main {
  position: relative;
  height: 100vh;
  /* height: calc(100vh - var(--nb-height)); */
}

/* Hero Carousel */

.hero-image-carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-image-container {
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute;
  inset: 0;
  transition-duration: 500ms;
  opacity: 0;
}

.slide.active {
  opacity: 1;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-btn {
  position: absolute;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
}

.carousel-btn:hover,
.carousel-btn:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-btn:focus {
  outline: 1px solid white;
}

.carousel-btn.prev {
  left: 1rem;
  padding-right: 0.2rem;
}

.carousel-btn.next {
  right: 1rem;
  padding-left: 0.2rem;
}

.carousel-btn-prev-icon {
  transform: rotate(180deg);
}

.hero-content {
  position: absolute;
  z-index: 2;
  top: var(--nb-height);
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.hero-logo-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  padding: 1rem 0;
  color: black;
  text-shadow: 4px 4px 10px #f7f7f7;
}

.hero-title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  transition-duration: 500ms;
  text-transform: uppercase;
}

.hero-title-text {
  text-shadow: 1px 1px #000000;
  margin: 0;
  padding: 0;
}

.header-text.active {
  opacity: 1;
}

.hero-break {
  margin: 2rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-subtext {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-subtext-content {
  margin: 0;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  color: #f7f7f7;
  text-shadow: 4px 4px 10px #000000;
}

/* ABOUT */

.about-section {
  position: relative;
}

.next-section-btn-container {
  position: absolute;
  top: -5rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.next-section-btn {
  background: none;
  border: 2px solid white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.next-section-btn-icon {
  transform: rotate(90deg);
  color: white;
}

.about-main {
  padding-top: 10rem;
  /* padding-top: var(--nb-height); */
  margin: auto 7.5rem;
}

.about--header-text {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.about--header-text-content {
  margin: 0;
  padding: 0.2rem;
  font-size: 1.7rem;
}

.about--header-text-content::before,
.about--header-text-content::after {
  content: url(./assets/img/header_decorator_orange.png);
  padding: 1rem;
}

.about--header-subtext {
  margin: 0 5rem;
  padding: 0;
  display: flex;
  justify-content: center;
}

.about--header-subtext-content {
  margin: 2rem;
  margin-bottom: 5rem;
  width: 500px;
  padding: 0;
  font-style: italic;
  /* font-size: 0.75rem; */
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}

.about--main-content {
  display: grid;
  gap: 3rem;
  margin-bottom: 7.5rem;
  grid-template-columns: 1fr 1fr;
}

.about--main-content-header {
  text-align: center;
  color: orange;
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.about--main-content-text {
  color: rgba(0, 0, 0, 0.5);

  margin: 0;
  padding: 1rem;
}

.about--main-content-text > span {
  color: orange;
  font-weight: bold;
}

.about--main-content-break {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.about--slider1-image-container,
.about--slider2-image-container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.about-slide {
  position: absolute;
  inset: 0;
  transition-duration: 500ms;
  opacity: 0;
}

.about-slide.active {
  opacity: 1;
}

.about-slide > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* HOURS */

.hours-section {
  background-image: url(./assets/img/opening_hours.jpg);
  background-position: center;
  min-height: 600px;
  position: relative;
}

.hours--title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.hours--title-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.hours--title-text::before {
  content: url(./assets/img/timetable-decorator_orange.png);
  padding: 1rem;
}

.hours--title-text::after {
  content: url(./assets/img/timetable-decorator2_orange.png);
  padding: 1rem;
}

.hours--subtitle {
  text-align: center;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  font-style: italic;
  color: rgb(243, 100, 48);
}

.hours--main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hours--main-content-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hours--main-content-header {
  width: 80%;
  text-align: center;
  font-style: italic;
  font-size: 2.5rem;
  color: rgb(243, 100, 48);
  margin: 0.2rem;
}

.hours--main-content-info {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
}

.hours--subtitle2 {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  color: white;
}

/* SPECIALS */

.specials-section {
  margin: 5rem;
}

.specials--main-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.specials--main-image > img {
  width: 100px;
}

.specials--main-content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem;
  gap: 2rem;
}

.specials--title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1.5rem;

  color: rgb(252, 133, 90);
}
.specials--menu-item {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
  position: relative;
}

.specials--menu-item-title {
  text-transform: uppercase;
  margin: 0;
  font-size: 0.9rem;
}

.specials--menu-item-content {
  margin: 0;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.specials--menu-item-content > span {
  float: right;
  color: rgb(252, 133, 90);
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.specials--menu-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.specials--menu-button {
  color: rgb(252, 133, 90);
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  border: 2px solid rgb(252, 133, 90);
  background-color: transparent;
  min-width: 300px;
}

.specials--menu-button-container::before,
.specials--menu-button-container::after {
  content: url(./assets/img/button_line.png);
  margin: 0 2rem;
}

.specials--menu-button:hover {
  background-color: rgb(252, 133, 90);
  color: white;
  cursor: pointer;
  transition: 300ms;
}

.specials--menu-button-link {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
}

/* TESTIMONIALS */

.testimonials-section {
  background-image: url(./assets/img/testimonials.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials--main-image {
  padding-top: 2rem;
}

.testimonials--main-image > img {
  margin: 0 auto;
  padding-top: 1rem;
  display: block;
}

.testimonials--main {
  margin: 0 auto;
  margin-top: 2rem;

  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials--main-header-container {
  position: relative;
}

.testimonials--main-header {
  color: rgb(252, 133, 90);
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
}

.testimonials--main-header::after {
  content: "\0022";
  position: absolute;
  bottom: -50px;
  right: -20px;
  font-size: 3rem;
}

.testimonials--main-header::before {
  content: "";
  width: 60px;
  height: 3px;
  background: #e2e9ed;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.testimonials--main-content-container {
  position: relative;
  display: block;
}

.testimonials--main-content {
  color: white;
  opacity: 0;
  font-size: 1.2rem;
  position: absolute;
  transition: 250ms opacity ease-in-out;
}

.testimonials--main-content.active {
  margin: 0;
  opacity: 1;
}

.testimonials--main-content-author {
  color: rgb(252, 133, 90);
  font-weight: bold;
  font-style: italic;
}

.testimonials--buttons-container {
  position: relative;
}

.testimonials--buttons {
  font-size: 1.75rem;
  position: absolute;
  top: 180px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.testimonials--button > input[type="radio"] {
  appearance: none;
  font: inherit;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(252, 133, 90);
  /* padding: 1rem; */
  border-radius: 50%;
  cursor: pointer;
}

.testimonials--button > input[type="radio"]:hover {
  background-color: rgb(252, 133, 90);
}

.testimonials--button.active > input[type="radio"] {
  background-color: rgb(252, 133, 90);
}

/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 3rem;
  height: 200px;
  border-top: 1px solid gray;
  background-color: #0d0d0d;
}

.footer-list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.footer-list-icon {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #3b3a36;
  transition: background-color 400ms ease-in-out;
}

.footer-list-icon:hover {
  cursor: pointer;
  background-color: orange;
}

.footer-icon {
  font-size: 1.75rem;
}
